body {font-family: Arial, Helvetica, sans-serif;text-align: center; color: #976758;}
form {border: 3px solid #f1f1f1; text-align: center;}

input[type=text], input[type=password],input[type=number]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  align-self:center;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 50%;
  }
}


#myInput {
    background-image: url('../picturs/icons8-search-30.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }



  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #a5847a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  
.button:hover {
  background-color: white; 
  color: #976758;
  border: 2px solid #976758;
}

#details,#editForm{
  color: #976758;
  border: 2px solid #976758;

}

#addSubmit,#removeSubmit,#cancel,#close,#updateName,#updatePrice,#reducefromStack,#addToStack{
  display: inline-block;
  border-radius: 4px;
  background-color: #a5847a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 170px;
 margin: 5px;
}

#addSubmit:hover,#removeSubmit:hover,#cancel:hover,#close:hover  {
  background-color: white; 
  color: #976758;
  border: 1px solid #976758;
}